#wpadminbar {
    display: none !important;
}

/************************************************

    CSS RESET

************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; }

/************************************************

    HOLDING

************************************************/

#holding p {
	margin: 32px 36px 0px 36px;
	font-family: sans-serif;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 2000ms infinite;      
    animation: ellipsis steps(4,end) 2000ms infinite;
    content: "\2026";
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 20px;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 20px;    
    }
}

/*********************************************

    FONTS

*********************************************/

@font-face {
    font-family: 'Suisse';
    src: url('assets/fonts/suisseworks-book-webfont.eot');
    src: url('assets/fonts/suisseworks-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/suisseworks-book-webfont.woff2') format('woff2'),
         url('assets/fonts/suisseworks-book-webfont.woff') format('woff'),
         url('assets/fonts/suisseworks-book-webfont.svg#suisse_worksbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frank';
    src: url('assets/fonts/franklingothic-book-webfont.woff2') format('woff2'),
         url('assets/fonts/franklingothic-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*********************************************

    GENERAL

*********************************************/

html {
    height: 100%;
    overflow: hidden; 
}

body {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    –webkit-overflow-scrolling: touch;
    background-color: #000;
    color: white;
    font-family: "Suisse", "Suisse Works", times, serif;
    font-weight: 400;
    font-size: 1.05em;
    line-height: 1.6;
}

    @media ( max-width: 880px ) {
        html, body {
            font-size: 0.95em;
        }
    }

    @media ( max-width: 600px ) {
        html, body {
            font-size: 0.9em;
        }
    }

a, a:visited {
    font-family: "Frank", "Franklin Gothic", helvetica, arial, sans-serif;  
    font-size: 1.1em;  
    color: black;
    text-decoration: none;
/*    border-bottom: 1px solid black;*/
    padding: 2px 0;
}

a:hover {
    border-bottom: 1px solid black;
}

.link {
    display: inline-block;
/*    border-bottom: 1px solid black; */ 
}

ul, li {
    list-style: none;
}

h1, h2, h3, h4 {
    font-family: "Frank", "Franklin Gothic", helvetica, arial, sans-serif; 
    font-size: 1.1em;     
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

h1 {
    border-bottom: 1px solid black;
    display: inline-block;
    margin-bottom: 24px;
}

h4 { 
    font-size: 0.7em;
}

.en {
    display: none;
}

#wrapper {
/*    border: 2px solid purple;*/
    width: 100%;
    max-width: 1280px;
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
}

img {
    height: auto;
}

/*********************************************

    NAV

*********************************************/

#nav, #nav_toggle {
/*    border: 1px solid pink;*/
    position: fixed;
    z-index: 99;
    top: 36px;
    left: 48px;
/*    font-family: "Frank", courier, "Franklin Gothic", helvetica, arial sans-serif;*/
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 2;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 99vh;
    padding: 6px 16px 8px 16px;
    color: black;
    -webkit-text-size-adjust: 100%;
    transition: max-height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
    overflow: hidden;
}

#nav_toggle {
    display: none;
}

    @media ( max-width: 700px ) {
        .small_screen_hide {
            max-height: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        #nav_toggle {
            display: block;
        }
    }

#nav li {
    display: inline;
    margin-right: 16px;
}

    @media ( max-width: 700px ) {
        #nav li {
            display: block;
        }
    }

#nav a, #nav a:visited {
    border-bottom: 0px;
}

#projects_hidden, #mobile_projects_hidden {
/*    border: 1px solid red;*/
    font-family: "Frank", "Franklin Gothic", helvetica, arial, sans-serif;   
    display: none;
    text-transform: capitalize;
}

#projects_hidden li, #mobile_projects_hidden li {
    margin: 0 16px 0 0;
}

#mobile_projects_hidden {
    padding-left: 10%;
}

#mobile_projects_hidden li {
    display: inline-block;
    margin-right: 12px;
}

#lang_selec {
    float: right;
    padding-right: 24px;
}

    @media ( max-width: 700px ) {
        #lang_selec {
            float: inherit;
        }
    }

#lang_selec a {
    color: gray;
}

#lang_selec .selected {
    color: black;
    cursor: text;
}

#nav .hide {
    display: none;
}

    @media ( max-width: 700px ) {
        #nav .hide {
            display: inline;
        }
    }


/*********************************************

    BACKGROUND

*********************************************/

#bg_image {
/*    border: 1px solid red;*/
    height: 100%;
    width: 100%;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
}

#bg_image ul {
    width: 100%;
    height: 100%;
}

#bg_image li {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 2s;
}

#bg_image li.visible {
    opacity: 1;
}

/*********************************************

    WIDGETS

*********************************************/

section {
/*    background-color: rgba(255,255,255,0.4);*/
    width: 100%;
    display: inline-block; 
    opacity: 1;
/*    transition: opacity 1s, height 1s;*/
}

.widget {
/*    border: 1px solid pink;*/
    color: black;
    background-color: #eee;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    min-height: 48px;
    margin: 0 0 24px 0px;
    padding-bottom: 16px;  
    box-shadow: 2px 2px 5px rgba(0,0,0,0.8); 
    overflow: hidden;
/*    transition: opacity 1s, height 1s;*/
/*    display: none;*/
}

.widget_content {
/*    border: 1px solid blue;*/
    margin: 12px 12px 24px 12px;
    position: relative;
}

.widget_content img {
    width: 67%;
    margin-bottom: 16px;
}

.widget_content .two-thirds {
    width: 67%;
}

.widget_content .one-half {
    width: 50%;
}

.widget_content .one-third {
    width: 33%;
}

.widget_content .one-quarter {
    width: 25%;
}

.close {
/*    border: 1px solid orange;*/
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url("assets/img/close.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

    @media ( max-width: 800px ) {
        .close {
            width: 24px;
            height: 24px;
        }
    }

/*********************************************

    SIDEBAR

*********************************************/

#sidebar {
/*    border: 1px solid red;*/
    position: absolute;
    width: calc( 33% - 50px );
    min-height: 600px;
    top: 64px;
    right: 36px;
    margin-bottom: 64px;
}

    @media ( max-width: 800px ) {
        #sidebar {
            right: 18px;
            width: calc( 33% - 24px );
        }
    }

    @media ( max-width: 700px ) {
        #sidebar {
            display: none;
        }
    }

#contact a, #upcoming a {
    border-bottom: 0;
}

#contact a:hover, #upcoming a:hover {
    border-bottom: 1px solid black;
}

.home_social_media {
    margin-top: 12px;
    margin-bottom: 18px;
}

.home_social_media a {
/*    border: 1px solid red;*/
    display: block;
}

.home_social_media a img {
    margin-bottom: 0;
    height: 100%;
}

#contact .home_social_media a:hover {
    border-bottom: 0 !important;
}

#newsletter_form {
/*    border: 1px solid orange;*/
    height: 0;
    overflow: hidden;
    transition: height 1s;
}

.tnp {
    margin: 0;
}

.tnp-subscription label {
    padding: 0 0 4px 0 !important;
}

.tnp-email {
    padding: 4px 8px !important;
    font-size: 1.2em;
}

#upcoming .see_more_concerts a {
    border-bottom: 1px solid black;
}

.upcoming_concert {
    margin-bottom: 12px;
    font-family: "Frank", "Franklin Gothic", helvetica, arial, sans-serif; 
    font-size: 1.1em;  
}

#soundcloud {
/*    border: 1px solid orange;*/
}

#soundcloud iframe {
    margin-top: 44px;
}

#soundcloud iframe.hidden {
    display: none;
}

/*********************************************

    MAIN COLUMN

*********************************************/

#widget_wrapper {
/*    border: 1px solid red;*/
    position: relative;
    width: calc( 66% - 50px );
    left: 36px;
    top: 64px;
    padding: 0px 0 120px 0;
}

    @media ( max-width: 800px ) {
        #widget_wrapper {
            left: 18px;
            width: calc( 66% - 24px );
        }
    }

    @media ( max-width: 700px ) {
        #widget_wrapper {
            left: 18px;
            width: calc( 100% - 36px );
        }
    }

#main_contact {
    display: none;
}

    @media ( max-width: 700px ) {
        #main_contact {
            display: block;
        }
    }

.text_block {
    width: 65%;
    margin-left: 16.7%;
    margin-bottom: 24px;
}

    @media ( max-width: 700px ) {
        .text_block {
            width: 80%;
            margin-left: 10%;
        }
    }    

.text_block a {
    border-bottom: 1px solid black;
}

.text_block p {
    margin-bottom: 12px;
}

.text_block img {
    height: auto;
}

.text_block .image_wrapper {
/*    border: 1px solid purple;*/
    width: 25%;
}

.text_block .image_wrapper img {
    margin-bottom: -4px;
}

.text_block iframe {
    width: 100%;
}

.album {
/*    border-bottom: 1px solid black;
    padding-bottom: 24px;*/
    margin-bottom: 24px;
}

.album_column {
/*    border: 1px solid purple;*/
    width: 45%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: top;
}

.album_column:last-child {
    margin-right: 0%;
}

.album img {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.album p.album_title {
    text-transform: uppercase;
}

.album .album_info {
    font-family: "Frank", "Franklin Gothic", helvetica, arial, sans-serif;    
    font-size: 0.8em;
}

.album_image:hover {
    border: 0;
}

.album_buy {
    display: inline-block;
    margin: 8px 0 12px 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.album_logos {
    margin-top: 12px;
}

.album_logos li {
/*    border: 1px solid green;*/
    display: inline-block;
    margin: 12px 12px 0 0 ;
    width: auto;
    height: 64px;
    vertical-align: middle;
}

.album_logos li img {
    height: auto;
    width: auto;
    max-height: 100%;
}

.title_wrapper {
    width: 100%;
    text-align: center;
}

.info_wrapper {
/*    border: 1px solid blue;*/
    position: relative;  
/*    margin-top: 8px; */
}

.image_credit {
    width: 25%;
    margin-bottom: 12px;
    position: absolute;  
    top: 3px; 
}

/*#news .image_credit {
    position: absolute;  
    top: 3px;  
}*/

.indent_title_wrapper {
    margin: 0 0 12px 30%;   
}

.indent_title {
    display: inline;
}

.concert {
    margin-bottom: 12px;
    display: none;
}

.concert_visible {
    display: block;
}

.concert > div {
/*    border: 1px solid blue;*/
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.concert > div:last-child {
    width: 45%;
}

.concert_group {
    text-transform: uppercase;
}

.concerts_filter {
/*    border: 1px solid red;*/
    margin-bottom: 12px;
    text-align: center; 
}

.concerts_filter li {
    border-bottom: 0px solid black;
    padding: 2px;
    margin: 0 12px;
    display: inline-block;
}

.concerts_list {
    margin-bottom: 24px;
}

.no-concerts {
    text-align: center;
}

#links ul {
    margin-bottom: 12px;
}

.soundcloud_hidden {
    display: none;
}

.project_discography ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project_album {
/*    display: inline-block;*/
    flex-basis: 28%;
/*    width: 30%;*/
/*    margin-right: 3%;*/
}

.project_album > a {
    padding: 0;
    border: 0;
}

.project_album img {
    width: 100%;
    margin-bottom: 4px;
}

.project_social_media {
/*    border: 1px solid red;*/
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 24px;
}

.social_media_link {
/*    border: 1px solid orange;*/
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
}

.social_media_link a:hover {
    border: 0;
}

.social_media_link img {
    width: 100%;
    height: auto;
}

.link_text {
    order: 99;
    width: auto;
    align-self: center;
    height: auto;
}

.link_text a:hover {
    border-bottom: 1px solid black;
}




