#wpadminbar {
    display: none !important;
}

/************************************************

    CSS RESET

************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; }

/************************************************

    HOLDING

************************************************/

#holding p {
	margin: 32px 36px 0px 36px;
	font-family: sans-serif;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 2000ms infinite;      
    animation: ellipsis steps(4,end) 2000ms infinite;
    content: "\2026";
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 20px;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 20px;    
    }
}

/*********************************************

    FONTS

*********************************************/

@font-face {
    font-family: 'ncs';
    src: url('../fonts/ncs_roman-webfont.woff2') format('woff2'),
         url('../fonts/ncs_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*********************************************

    GENERAL

*********************************************/

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #000;
    color: white;
    font-family: courier, serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6;
}

a, a:visited {
    font-family: "Franklin Gothic", sans-serif;   
    font-size: 1.05em;  
    color: black;
    text-decoration: none;
}

.link {
    display: inline-block;
    border-bottom: 1px solid black;  
}

ul, li {
    list-style: none;
}

h1, h2, h3, h4 {
    font-family: "Franklin Gothic", sans-serif;    
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

h1 {
    border-bottom: 1px solid black;
    display: inline-block;
    margin-bottom: 24px;
}

h4 { 
    font-size: 0.6em;
}

/*********************************************

    NAV

*********************************************/

#nav {
/*    border: 1px solid pink;*/
    position: fixed;
    z-index: 99;
    top: 36px;
    left: 48px;
    font-family: "Franklin Gothic", helvetica, arial sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 2;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 6px 16px 8px 16px;
    color: black;
}

#nav li {
    display: inline;
    margin-right: 16px;
}

#nav a, #nav a:visited {
/*    color: white;*/
}

#projects_hidden {
/*    margin-left: 48px;*/
    font-family: "Franklin Gothic", sans-serif;
    display: none;
/*    text-align: center;*/
    text-transform: capitalize;
}

#projects_hidden li {
    margin: 0 16px 0 0;
}

/*********************************************

    BACKGROUND

*********************************************/

#bg_image {
/*    border: 1px solid red;*/
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#bg_image ul {
    width: 100%;
    height: 100%;
}

#bg_image li {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 2s;
}

#bg_image li.visible {
    opacity: 1;
}

/*********************************************

    WIDGETS

*********************************************/

section {
/*    background-color: rgba(255,255,255,0.4);*/
    width: 100%;
    display: inline-block;
}

#sidebar {
/*    border: 1px solid red;*/
    position: absolute;
    width: calc( 33% - 50px );
    min-height: 600px;
    top: 64px;
    right: 36px;
}

#widget_wrapper {
/*    border: 1px solid orange;*/
    position: absolute;
    width: calc( 66% - 50px );
    left: 36px;
    top: 64px;
    padding: 0px 0 120px 0;
}

.widget {
/*    border: 1px solid pink;*/
    font-family: "Suisse Works", times, serif;
    color: black;
    background-color: #eee;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    min-height: 48px;
    margin: 0 0 24px 0px;
    padding-bottom: 16px;  
    box-shadow: 2px 2px 5px rgba(0,0,0,0.8); 
    display: none;
}

#upcoming .widget, 
#soundcloud .widget, 
#links .widget, 
#contact .widget {
/*    margin: 0;*/
}

.widget_content {
/*    border: 1px solid blue;*/
    margin: 12px 12px 24px 12px;
    position: relative;
}

.widget_content img {
    width: 67%;
    margin-bottom: 16px;
}

.close {
/*    border: 1px solid orange;*/
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url("assets/img/close.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.title_wrapper {
    width: 100%;
    text-align: center;
}

.info_wrapper {
/*    border: 1px solid blue;*/
    position: relative;  
/*    margin-top: 8px; */
}

.image_credit {
    width: 25%;
    margin-bottom: 12px;
    position: absolute;  
    top: 3px; 
}

/*#news .image_credit {
    position: absolute;  
    top: 3px;  
}*/

.news_title {
    margin: 0 0 12px 30%;   
}

.text_block {
    width: 65%;
    margin-left: 16.7%;
}

.text_block p {
    margin-bottom: 12px;
}

#soundcloud iframe {
    margin-top: 44px;
}

.upcoming_concert {
    margin-bottom: 12px;
}

.concert {
    margin-bottom: 12px;
}

.concert > div {
/*    border: 1px solid blue;*/
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.concert > div:last-child {
    width: 45%;
}

.concert_group {
    text-transform: uppercase;
}

.album {
/*    border: 1px solid red;*/
    margin-bottom: 24px;
}

.album_column {
/*    border: 1px solid purple;*/
    width: 45%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: top;
}

.album_column:last-child {
    margin-right: 0%;
}

.album img {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.album p.album_title {
    text-transform: uppercase;
}

.album .album_info {
    font-family: "Franklin Gothic", sans-serif;
    font-size: 0.8em;
}

#links ul {
    margin-bottom: 12px;
}

.project_album {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
}

.project_album img {
    width: 100%;
    margin-bottom: 4px;
}





